:global {
  /* Color Scheme */
  
  /* option 1 */
  --primary-color: #EF5D58; /* buttons, CTAs, links, highlights */
  --secondary-color: #dc9b57; /* secondary buttons etc. */ 
  --bookshelf-back-color: #b17c4b;
  --accent-color: #b17c4b; /* notifs etc. to draw attention */
  --background-color: #698168; /* background of the page */
  --text-color: #8aa6b5; 
  --error-color: #c7ab7b; 

  /* option 2 */
  --primary-color: #86CB92; /* Emerald */
  --secondary-color: #71B48D; /* Mint */
  --accent-color: #404E7C; /* YInMn Blue */
  --bookshelf-back-colorr: #251F47; /* Space Cadet */
  --background-color: #260F26; /* Dark Purple */
  --text-color: #404E7C; /* YInMn Blue, reused for text */
  --error-color: #71B48D; /* Mint, reused for errors */

  /* option 3 */
  --primary-color: #CEC075; /* Citron, used for CTAs (buttons, links, highlights) */
  --secondary-color: #9DA9A0; /* Ash Gray, used for general card backgrounds */
  --bookshelf-back-color: #654C4F; /* Rose Ebony, used for bookshelf background */
  --accent-color: #B26E63; /* Redwood, used for notifications and accents */
  --background-color: #C0CAAD; /* Ash Gray variant, for overall page background */
  --text-color: #654C4F; /* Rose Ebony, reused for text */
  --error-color: #B26E63; /* Redwood, reused for errors */

  /* Fonts */

  @font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/recoleta-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/recoleta-Light.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: lighter;
    font-style: normal;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/recoleta-SemiBold.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: bold;
    font-style: normal;
  }

  /* Fonts */
  --font-family: 'Recoleta', sans-serif;
  --font-size: 16px;
  --font-weight: normal;
}
